.bakerymenu {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.bakerymenu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.bakerymenu-header-name {
    margin-right: 2rem
}

.bakerymenu-header-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

@media screen and (max-width: 750px) {
    .bakerymenu {
        margin-bottom: 1.5rem;
    }

    .bakerymenu-header {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 480px) {
    .bakerymenu {
        margin-bottom: 1rem;
    }

    .bakerymenu-header {
        margin-bottom: 0.25rem;
    }
}